* {
  box-sizing: border-box;
}
body {
  background: url("../img/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
p {
  font-size: 1.4rem;
}
.title1 {
  font-size: 2rem;
  color: #097777;
}
.header {
  width: 100%;
  height: 20%;
  background-color: #ffffff;
}
.content {
  width: 100%;
  height: 65%;
  padding: 1vw;
  margin-top: 3%;
  background-color: #ffffff;
}
.logo {
  width: 10vw;
}
.loginButton {
  display: block;
  float: right;
  border-radius: 5%;
  background-color: #097777;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 80%;
  padding: 2%;
  width: 30%;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  cursor: pointer;
  margin: 1%;
}
.loginButton:hover span {
  padding-right: 25px;
}
.loginButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.loginButton span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20%;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.loginButton:hover span:after {
  opacity: 0.5;
  right: 0;
}
.midSection {
  display: inline-block;
  width: 95%;
  height: 70%;
  margin-left: 5%;
}
.sideMenu {
  width: 30%;
  height: 100%;
  background-color: #fff;
  float: left;
}
.sideMenu ul {
  list-style-type: none;
}
.sideMenu a:active,
.sideMenu a:link,
.sideMenu a:visited {
  text-decoration: none;
  color: #097777;
}
.sideMenu a:hover {
  text-decoration: underline;
}
.newsLi {
  list-style-type: none;
  padding-right: 5% 5% 5% 5%;
}
.eventsLi {
  list-style-type: none;
  padding-right: 5% 5% 5% 5%;
}
.articleSection {
  width: 70%;
  height: 100%;
  background-color: #fff;
  float: left;
}
.navbar {
  float: left;
  width: 100%;
  height: 10%;
  margin-top: 1%;
}
.navbar:after {
  clear: both;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #097777;
  max-width: 90%;
  float: left;
}
/* Float the list items side by side */
ul.topnav li {
  float: left;
}
/* Style the links inside the list items */
ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  font-size: 1.2 rem;
}
/* Change background color of links on hover */
ul.topnav li a:hover {
  background-color: #41F0F0;
}
/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
  display: none;
}
.newsContainer {
  width: 100%;
  margin-top: 10%;
}
.detailedNews {
  width: 100%;
  height: 30%;
  display: table;
  padding: 1%;
}
.newsImage {
  width: 30%;
  height: 100%;
  padding: 1%;
  float: left;
}
.newsDesc {
  text-align: justify;
  width: 70%;
  height: 100%;
  float: left;
}
.newsDesc:after {
  clear: both;
}
.newsDesc a:link,
.newsDesc a:active a:visited {
  text-decoration: none;
  color: #097777;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.newsDesc a:visited {
  color: #0ca6a6;
}
.newsDesc a:hover {
  text-decoration: underline;
}
.footer {
  height: 50px;
  margin-top: 5%;
  background-color: #ffffff;
}
.footer div {
  text-align: center;
}
.footer p {
  font-size: 1rem;
  line-height: 50px;
}
.clear {
  clear: both;
}
.standard {
  width: 15vw;
  border: 2px solid #097777;
  border-radius: 4px;
  font-size: 1.4rem;
}
input[type=text],
input[type="password"] {
  width: 15vw;
  border: 2px solid #097777;
  border-radius: 4px;
  font-size: 1.4rem;
}
input[type=text]:focus,
input[type="password"]:focus {
  background-color: #41F0F0;
}
input[type=button],
input[type=submit],
input[type=reset] {
  width: 15vw;
  border: 2px solid #097777;
  border-radius: 4px;
  font-size: 1.4rem;
  background-color: #097777;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  text-decoration: underline;
}
label {
  display: inline-block;
  width: 10vw;
}
.link {
  color: #097777;
}
.link:hover {
  text-decoration: underline;
}
.register {
  width: 100%;
  display: none;
}
.center {
  text-align: center;
}
.search {
  margin: 1%;
}
.subtitle {
  font-size: 1.2rem;
  color: #097777;
  display: inline-block;
  margin-bottom: 1%;
  font-weight: bold;
}
.theNews {
  width: 70%;
  float: left;
}
.newsRightColumn {
  width: 30%;
  float: left;
  border: 1px solid #097777;
  padding: 1%;
}
.newsBigImage {
  float: left;
  width: 40%;
  padding: 1%;
}
.newsBigImage img {
  max-width: 100%;
  height: auto;
}
.newsTitle {
  width: 60%;
  float: left;
  padding-left: 1%;
}
.advertise {
  width: 33%;
  float: left;
  padding: 1%;
}
.advertise p {
  font-size: 1rem;
}
.row {
  width: 100%;
}
.row:after {
  clear: both;
}
