/*FOR DESKTOP*/
@media only screen and (min-device-width: 1024px) {
  .headerLeft {
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
  }
  .headerRight {
    width: 70%;
    height: 100%;
    float: left;
    text-align: right;
    padding-right: 5vh;
  }
  .container {
    width: 70%;
    margin: 0 auto;
    margin-top: 5vh;
  }
  ul.topnav li.icon {
    display: none;
  }
}
/*FOR TABLETS*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .headerLeft {
    width: 30%;
    height: 100%;
    text-align: center;
    float: left;
  }
  .headerRight {
    width: 70%;
    height: 100%;
    float: left;
    text-align: right;
    padding-right: 5vh;
  }
  .container {
    width: 85%;
    margin: 0 auto;
  }
  ul.topnav li.icon {
    display: none;
  }
}
/*FOR MOBILE*/
@media only screen and (max-width: 768px) {
  .headerLeft {
    width: 100%;
    float: left;
    text-align: center;
  }
  .headerRight {
    width: 100%;
    float: left;
    text-align: right;
    padding-right: 5vh;
  }
  .container {
    width: 100%;
  }
  ul.topnav li:not(:first-child) {
    display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
