@import 'variables';

*{
  box-sizing: border-box;
}

body{
  background:url("../img/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p{
  font-size: @pSize1;
}
.title1{
  font-size: @title1;
  color: @primaryCol;
}

.header{
  width: 100%;
  height: 20%;
  background-color: #ffffff;
}

input.search[type=text]{
  font-size: @subtitle;
  line-height: 10%;
  width: 30%;
  border: 2px solid @primaryCol;
  border-radius: 4px;
  margin: 1%;
  padding: 1%;
  &:focus{
    background-color: @secondaryColor;
  }
} 

.content{
  width: 100%;
  min-height: 65%;
  padding: 1vw;
  margin-top: 3%;
  background-color: #ffffff;
}
.logo {
  width: 10vw;
  -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s;
  transition: width 1.5s, height 1.5s, transform 1.5s;
  border-radius: 50%;
}

.logo:hover{
  width: 10vw;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.loginButton {
  display: block;
  float: right;
  border-radius: 5%;
  background-color: @primaryCol;
  border: none;
  color: #fff;
  text-align: center;
  padding: 2%;
  width: 30%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1%;
  font-size: @subtitle;
  &:hover span{
        padding-right: 20%; 
  }
}

.Button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.loginButton span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20%;
  transition: 0.5s;
}

.loginButton:hover span:after {
  opacity: 0.5;
  right: 0;
  padding: 1%;
}
 
.midSection{
	display: inline-block;
	width: 95%;
	height: 70%;
  margin-left: 5%;
	}
.newsContainer{
	width: 100%;
  margin-top: 10%;
}
.detailedNews{
	width: 100%;
	height: 30%;
  display: table;
  padding: 1%;
}
  a:link, a:active a:visited {
    text-decoration: none;
    color: @primaryCol;  
    font-size: @pSize1;
    text-transform: uppercase;
  }
  a:visited{
    color: @visitedLink;
  }
  a:hover{
    text-decoration: underline;
  }
a.detailsLink:link, a.detailsLink:active, a.detailsLink:visited{
    text-transform: none;
    color: black;
    font-size: initial;
    &:hover{
      text-decoration: underline;
    }
  }
.footer{
  div{
    text-align: center;
  }
  p{
    font-size: @pSize2;
    line-height: 50px;
  }
  height: 50px;
  margin-top: 5%;
  background-color: #ffffff;
}
.clear{
  clear: both;
}
.standard{
  width: 15vw;
  border: 2px solid @primaryCol;
  border-radius: 4px;
  font-size: @pSize1;
}
.link{
  color: @primaryCol;
  &:hover{
    text-decoration: underline;
  }
}
.register{
  width: 100%;
  display: none;
  padding-left: 15%
}
.loginForm{
  padding-left: 15%
}
.center{
  text-align: center;
}
.subtitle{
  font-size: @subtitle;
  color: @primaryCol;
  display: inline-block;
  margin-bottom: 1%;
  font-weight: bold;
}
.theNews{
  width: 100%;
  text-align: justify;
}  
.row{
  width: 100%;
  height: auto;
  &:after{
    .clear;
  }
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: @primaryCol;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: @subtitle;
  height: 10%;
  
}
ul.topnav li:last-child{
  width: 20%;
}

ul.topnav li a:hover {background-color: @secondaryColor;}
.navbar{
  float: left;
  width: 100%;
  max-height: 10%;
  margin-top: 1%;
  display: inline;
     &:after{
          .clear;
          }
  }
a.sidemenu:link , a.sidemenu:active, a.sidemenu:visited {
  font-size: @subtitle;
}
a.sidemenu:hover{
  font-size: @subtitle;
}
