//- Header Partial
.header
  //- Left section of header
  .headerLeft
    //- Homepage link added on logo
    a(href='index.html')
      img.logo(src='../img/logo.jpg', alt='Logo Image')
  //- Right section of header
  .headerRight
    form
        input.search(type='text', placeholder='Search...')    
    //- Link to login page added on homepage login button
    a(href='login.html')
      button.loginButton
        span Login
  //- Clearfix for layout issue 
  .clear
