.header
  .headerLeft
    a(href='index.html')
      img.logo(src='../img/logo.jpg', alt='Logo Image')
    //- img.centerLogo(src='../img/newsweekLogo.png', alt='Logo Image') CENTERED ELABORATED LOGO
    // End of headerLeft
  .headerRight
    a(href='login.html')
      button.loginButton
        span Login
        // End of headerRight
  .clear
      // End of header 