doctype html
html
  head
    title News
    link(rel='stylesheet', href='../css/main.css', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='../js/requests.js', language='javascript', type='text/javascript')
    meta(name='viewport', content='initial-scale=1')
    // <link rel="stylesheet" media="screen and(max-width:767px)" href="index_resp_768_rebuild.css">
