mixin sideMenuList(name,elements,links)
  ul
    span.subtitle #{name}
    each val in elements
      li
        a.sidemenu(href="#") #{val}

mixin indexNewsFormat()
  |{{#each news}}
  .detailedNews
    a.detailsLink(href='details.html')
      img.newsImage(src="http://172.16.226.36:8080/webapp/images/", alt='News Image')
    .newsDesc(onload='getNews()')
          div
            a(href='details.html') {{title}}
          div
            a.detailsLink(href='details.html') {{body}}
      img.newsImage(src='', alt='News Image')

    .newsDesc(onload='getNews()')
          div
            a(href='details.html') {{this.title}}
          div
            a.detailsLink(href='details.html') {{this.body}}
    // End of newsDesc
    // End of detailedNews  
  |{{/each}}

mixin miniNews()
  .advertise
    p.subtitle news title
    p
      | Nam pharetra orci ut vestibulum accumsan. Sed pretium, mauris non vestibulum ornare, metus turpis elementum massa, at sollicitudin neque quam quisnibh. Lorem psum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam pulvinar eros eu dignissim. Proin commodo quam a purus aliquet aliquam. Sed at erat leo. Sed nec fermentum odio, vitae sodales quam.

mixin moreAbout() 
  p.subtitle  More about..
    p
      | tincidunt metus congue. Vivamus condimentum eros venenatis sem vehicula lobortis. Nam pharetra orci ut vestibulum accumsan. Sed pretium, mauris 
