.navbar
  ul.topnav
    li
      a(href='index.html') Home
    li
      a(href='#brasov') Brasov
    li
      a(href='#craiova') Craiova
    li
      a(href='#sibiu') Sibiu
    li.icon
      a(href='#', onclick='myFunction()') ☰
