|{{#each news}}
.detailedNews
  a.detailsLink(href='details.html?id={{id}}')
    img.newsImage(src='../img/newsImage.jpg', alt='News Image')
  .newsDesc(onload='getNews()')
        div
          a(href='details.html?id={{id}}') {{title}}
        div
          a.detailsLink(href='details.html?id={{id}}') {{body}}
  // End of newsDesc
  // End of detailedNews
|{{/each}}
