span.title1 Categories
.category-container
  script#sideMenu-categories(type="text/x-handlebars-template")
    include newsCategories.jade
.events-container
  script#sideMenu-events(type="text/x-handlebars-template")
    include eventsType.jade
