include mixins.jade
- var news=['Politics','Sport','Business','School','Local News']
- var events=['Politics','Sport','Business','School','Local Events']


span.title1 Categories
+sideMenuList('News', news, links)
+sideMenuList('Events', events, links)
