include mixins.jade
- var news=['atentat','dsadas','dsadad']
- var events=['dasdas','dsadas','dsadad']


span.title1 Categories
+sideMenuList('News', news, links)
+sideMenuList('Events', events, links)
