include helpers/mixins.jade

doctype html
html
  head
    include helpers/head.jade

  body
    .container
      include helpers/header.jade
      .content
        .theNews
          script#detailsPage-template(type="text/x-handlebars-template")
            .newsBigImage
              img(src='../img/newsImage.jpg')
              // image div
            .newsTitle
              p.title1 {{news.title}}
              // title div
            .clear
            div
              p {{news.body}}
            p.title1  News
            .row
              +miniNews()
              +miniNews()
              +miniNews()
            p.title1  Events
            .row
              +miniNews()
              +miniNews()
              +miniNews()
              // news description + events + news
            // End of newsDetails
        .clear
        .newsRightColumn
          +moreAbout()
        //-   +moreAbout()
        //-   +moreAbout()
        //-   +moreAbout()
      include helpers/footer.jade  
      // End of Content
      
    include helpers/scriptsImp.jade
