doctype

html
    include head.jade
  body
    .container
      include header.jade
      .content
        .sideMenu
          span.title1 Categories
          ul.news
            span.subtitle News
            li.newsLi
              a(href='#News1') News1
            li.newsLi
              a(href='#News2') News2
            li.newsLi
              a(href='#News3') News3
            li.newsLi
              a(href='#News4') News4
            li.newsLi
              a(href='#News5') News5
          // End of ul class news
          ul.events
            span.subtitle Events
            li.eventsLi
              a(href='#Event1') Event1
            li.eventsLi
              a(href='#Event2') Event2
            li.eventsLi
              a(href='#Event3') Event3
            li.eventsLi
              a(href='#Event4') Event5
            li.eventsLi
              a(href='#Event5') Event4
          // End of ul class events
        // End of sideMenu
        .articleSection
          .navbar
            ul.topnav
              li
                a(href='#home') Home
              li
                a(href='#brasov') Brasov
              li
                a(href='#craiova') Craiova
              li
                a(href='#sibiu') Sibiu
              li.icon
                a(href='#', onclick='myFunction()') ☰
              li
                form
                  input.search(type='text', placeholder='Search...')
          // End of navBar
          .newsContainer
            .detailedNews
              img.newsImage(src=' ../img/newsImage.jpg', alt='News Image')
              .newsDesc
                a(href='details.html') Lorem ipsum dolor sit amet
                br
                |             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam pulvinar eros eu dignissim. Proin commodo quam a purus aliquet aliquam. Sed at erat leo. Sed nec fermentum odio, vitae sodales quam. Nam cursus arcu in neque aliquam,
                |               sit amet tincidunt metus congue. Vivamus condimentum eros venenatis sem vehicula lobortis. Nam pharetra orci ut vestibulum accumsan. Sed pretium, mauris non vestibulum ornare, metus turpis elementum massa, at sollicitudin neque quam quisnibh.
              // End of newsDesc
            // End of detailedNews
            .detailedNews
              img.newsImage(src=' ../img/newsImage.jpg', alt='News Image')
              .newsDesc
                a(href='details.html') Lorem ipsum dolor sit amet
                br
                |             Nam luctus accumsan magna quis fermentum. Maecenas ut urna non sem elementum scelerisque venenatis id mauris. Etiam at diam ex. Aenean suscipit eu turpis eu dapibus. Nunc non metus mollis, iaculis velit et, pharetra elit. Proin ultricies magna
                |               eget pulvinar suscipit. Cras malesuada pharetra nibh. Morbi convallis blandit maximus. Pellentesque aliquet magna id justo convallis dignissim. Nulla facilisi. Mauris consequat sollicitudin odio, et consequat lorem suscipit a. Curabitur
                |               tincidunt, tortor in pulvinar auctor, mi dui malesuada eros, id finibus ipsum arcu nec sem.
              // End of newsDesc
            // End of detailedNews
            .detailedNews
              img.newsImage(src=' ../img/newsImage.jpg', alt='News Image')
              .newsDesc
                a(href='details.html') Lorem ipsum dolor sit amet
                br
                |             Praesent condimentum in mi sodales tempus. Proin tristique fringilla lacus in condimentum. Pellentesque in sollicitudin est, vitae ullamcorper mauris. Ut vel velit porta, congue libero eget, ornare purus. Nulla ut ipsum et risus consectetur
                |               suscipit ac vitae ex. Praesent aliquet, ipsum vel tincidunt pretium, turpis elit eleifend arcu, at fringilla ligula dolor et ligula. Quisque metus ante, facilisis in pulvinar quis, sagittis sed erat. Nullam sit amet ullamcorper magna. Donec
                |               nec sollicitudin lectus. Integer vel arcu a urna mattis scelerisque vel ut tellus.
              // End of newsDesc
            // End of detailedNews
            .detailedNews
              img.newsImage(src=' ../img/newsImage.jpg', alt='News Image')
              .newsDesc
                a(href='details.html') Lorem ipsum dolor sit amet
                br
                |             Praesent condimentum in mi sodales tempus. Proin tristique fringilla lacus in condimentum. Pellentesque in sollicitudin est, vitae ullamcorper mauris. Ut vel velit porta, congue libero eget, ornare purus. Nulla ut ipsum et risus consectetur
                |               suscipit ac vitae ex. Praesent aliquet, ipsum vel tincidunt pretium, turpis elit eleifend arcu, at fringilla ligula dolor et ligula. Quisque metus ante, facilisis in pulvinar quis, sagittis sed erat. Nullam sit amet ullamcorper magna. Donec
                |               nec sollicitudin lectus. Integer vel arcu a urna mattis scelerisque vel ut tellus.
              // End of newsDesc
            // End of detailedNews
            .detailedNews
              img.newsImage(src=' ../img/newsImage.jpg', alt='News Image')
              .newsDesc
                a(href='details.html') Lorem ipsum dolor sit amet
                br
                |             Praesent condimentum in mi sodales tempus. Proin tristique fringilla lacus in condimentum. Pellentesque in sollicitudin est, vitae ullamcorper mauris. Ut vel velit porta, congue libero eget, ornare purus. Nulla ut ipsum et risus consectetur
                |               suscipit ac vitae ex. Praesent aliquet, ipsum vel tincidunt pretium, turpis elit eleifend arcu, at fringilla ligula dolor et ligula. Quisque metus ante, facilisis in pulvinar quis, sagittis sed erat. Nullam sit amet ullamcorper magna. Donec
                |               nec sollicitudin lectus. Integer vel arcu a urna mattis scelerisque vel ut tellus.
              // End of newsDesc
            // End of detailedNews
          // End of newsContainer
        // End of articleSection
        .clear
      // End of Content
      include footer.jade
    // End of container
    script.
      function myFunction() {
      document.getElementsByClassName("topnav")[0].classList.toggle("responsive");
      }
    script(src='../js/navbarFunction.js')
