include helpers/mixins.jade
doctype html
html
  head
    include helpers/head.jade
  body   
    .container
      include helpers/header.jade
      .content
        .sideMenu
          include helpers/sideMenu.jade
        .articleSection
          .navbar
            ul.topnav
              li
                a(href='#home') Home
              li
                a(href='#brasov') Brasov
              li
                a(href='#craiova') Craiova
              li
                a(href='#sibiu') Sibiu
              li.icon
                a(href='#', onclick='myFunction()') ☰
              li
                form
                  input.search(type='text', placeholder='Search...')
          // End of navBar
          .newsContainer
            script#entry-template(type="text/x-handlebars-template")
              include helpers/newsFormat.jade
          // End of newsContainer
        // End of articleSection
        .clear
      // End of Content
      include helpers/footer.jade
    // End of container
   
    include helpers/scriptsImp.jade
