//- Homepage
doctype html
html
  head
    //- Head partial
    include helpers/head.jade 
  body   
    .container
      //- Header partial
      include helpers/header.jade
      .content
        .articleSection
          //- Navigation bar-used for link to home button and region filters
          include helpers/navbar.jade
          .newsContainer
            //- Handlebars Template used for fetching homepage news
            script#entry-template(type="text/x-handlebars-template")
              //- Partial containing the Handlebars iteration that fetches the homepage news
              include helpers/newsFormat.jade
        .sideMenu
          //- Side menu partial-used for categories
          include helpers/sideMenu.jade
        //- Clearfix used for fixing layout issue
        .clear
      //- Footer partial containing footer 
      include helpers/footer.jade
    //- Partial containing all scripts that need to be imported 
    include helpers/scriptsImp.jade
