include helpers/mixins.jade
doctype

html
  include helpers/head.jade
  body(onload='getNews()')
    .container
      include helpers/header.jade
      .content
        .sideMenu
          include helpers/sideMenu.jade
        .articleSection
          .navbar
            ul.topnav
              li
                a(href='#home') Home
              li
                a(href='#brasov') Brasov
              li
                a(href='#craiova') Craiova
              li
                a(href='#sibiu') Sibiu
              li.icon
                a(href='#', onclick='myFunction()') ☰
              li
                form
                  input.search(type='text', placeholder='Search...')
          // End of navBar
          .newsContainer
            +indexNewsFormat()
            +indexNewsFormat()
            +indexNewsFormat()
            +indexNewsFormat()
          // End of newsContainer
        // End of articleSection
        .clear
      // End of Content
      include helpers/footer.jade
    // End of container
   
    script(src='../js/navbarFunction.js')
<<<<<<< HEAD
    script(src='../js/requests.js', language='javascript', type='text/javascript')
=======
    script(src='../js/requests.js')
>>>>>>> fe2734ce32c82f6bfd4072caa250df2ab67f3cb1
