doctype html
html
  head
    include helpers/head.jade
  body   
    .container
      include helpers/header.jade
      .content
        .sideMenu
          include helpers/sideMenu.jade
        .articleSection
          include helpers/navbar.jade
          .newsContainer
            script#entry-template(type="text/x-handlebars-template")
              include helpers/newsFormat.jade
          // End of newsContainer
        // End of articleSection
        .clear
      // End of Content
      include helpers/footer.jade
    // End of container
   
    include helpers/scriptsImp.jade
