doctype html
html
  head
    include helpers/head.jade
  body
    .container
      include helpers/header.jade
      .content
        .login
          #logInDiv.loginForm
            p.title1 Log IN
            form(action='', method='')
              p
                label(for='username') Username: 
                input#username(type='text', name='username')
              p
                label(for='pass') Password: 
                input#pass(type='password', name='pass')
              label
              input(type='submit', value='Log IN')
              br
              p
                | If you are not registered, click 
                span#showRegisterDiv.link here
          #registerDiv.register
            p.title1 Register
            form(name='registerForm' onsubmit='return registerValidation()')
              p
                label(for='rU') Username:
                input#rU(type='text', name='rUsername')
                span#rUsername.errorMessage 
              p
                label(for='rP') Password:
                input#rP(type='password', name='rPass')
                span#rPass.errorMessage 
              p
                label(for='rP2') Retype-password:
                input#rP2(type='password', name='rPass2')
                span#rPass2.errorMessage 
              p
                label(for='rF') First Name:
                input#rF(type='text', name='rFname')
                span#rFname.errorMessage   
              p
                label(for='rL') Last Name:
                input#rL(type='text', name='rLname')
                span#rLname.errorMessage 
              p
                label(for='rE') E-mail:
                input#rE(type='text', name='Email')
                span#Email.errorMessage 
              p
                label(for='rA') Address:
                input#rA(type='text', name='Address')
                span#Address.errorMessage 
              p
                label(for='rO') Occupation:
                input#rO(type='text', name='Occupation')
                span#Occupation.errorMessage 
              label
              input(type='submit', value='REGISTER')
              br
              p
                | To go back click 
                span#showLogInDiv.link here
              br
      include helpers/footer.jade
    include helpers/scriptsImp.jade
